<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Session</h1>

    <!-- isLogin === true라면 로그인 된 것임. 됐으ㅁ니 로그아웃 a 태그 -->
</body>
</html>